{% autoescape on %}
    <span class="actiontask {{result.status}}" id="{{result.task_id}}" data-hash="{{result.state_hash}}">
        <p>id: {{result.task_id}}</p>
        <p>name: {{result.task_name}}</p>
        <p>state: {{result.status}}</p>
        {% if result.notes %}
            <ul>
                {% for note in result.notes.all %}
                    <li class="note.level">{{note.note}}</li>
                {% endfor %}
                {% if meta.exc_message %}
                    <li class="error">
                        Exception was: {{meta.exc_message}}
                        <pre>{{result.traceback}}</pre>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </span>
{% endautoescape %}
