{% load task_message %}
{% autoescape on %}
    <span class="actiontask {{task_state.status}}">
        <p>[{{task_state.task_id}}][{{task_state.status}}] {{task_state.verbose_name}}</p>
        {% if task_state.notes %}
            <ul class="message-notes">
                {% for note in task_state.notes.all %}
                    <li class="{{note.level_tag}}">{{note.note}}</li>
                {% endfor %}
                {% if task_state.traceback %}
                    <li class="error">
                        <pre>{{task_state.traceback|format_traceback}}</pre>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </span>
{% endautoescape %}
