{% load task_message %}
{% autoescape on %}
    <span class="actiontask {{task_state.status}}" id="{{task_state.task_id}}" data-hash="{{task_state|get_checksum}}">
        <p>id: {{task_state.task_id}}</p>
        <p>name: {{task_state.task_name}}</p>
        <p>state: {{task_state.status}}</p>
        {% if task_state.notes %}
            <ul>
                {% for note in task_state.notes.all %}
                    <li class="note.level">{{note.note}}</li>
                {% endfor %}
                {% if meta.exc_message %}
                    <li class="error">
                        Exception was: {{meta.exc_message}}
                        <pre>{{task_state.traceback}}</pre>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </span>
{% endautoescape %}
